

.main {
    width: 100%;
    // padding-block: 1rem;
    .swiper {
        .slide {
            .image {
                img {
                    object-fit: cover;
                    width: 100%;
                }
            }
        }
    }
}